<html>
<head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<title>{% block title %}{% endblock %}</title>
	<link rel = "stylesheet" href = "{{url_for('static', filename = 'main.css')}}">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #8fcbf7;">
  		<a class="navbar-app-name mr-sm-4" style="text-decoration: none;"><!-- If user.onclick() logo + app returns their previously chosen weather tab, modify this tag -->
  			<img src="https://hanwen360.com/img/shufa/ls/4/f38ad4968a006088.png" width="60" height="60" class="d-inline-block" alt="">
  			Weatherbooth
  		</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		    <div class="collapse navbar-collapse" id="navbarText">
				<form class="form-inline mx-0 needs-validation" method="post" novalidate>
					<input class="form-control mt-3 mr-sm-2" name="location" type="search" placeholder="Location" aria-label="Location" id = "Location" value="{{ request.form['location'] }}">
					<button class="btn btn-outline-success mt-3" type="submit">Search</button>
					<div class="invalid-tooltip">
			        	Please provide a valid location.
			      	</div>
				  </form>
		      <form class="form-inline ml-auto" action="search" style = "margin-right: 30px;">
			      <input class="form-control mt-3 mr-sm-2" name="search" type="search" placeholder="Search" aria-label="Search">
			      <button class="btn btn-outline-success mt-3" type="submit">Search</button>
  			  </form>
  			  <input type="checkbox" data-toggle="toggle" data-on="Imperial" data-off="Metric" data-onstyle="warning" data-offstyle="success">
		    </div>
	</nav>
	<div class="container-fluid">
		{% block content %}
		{% endblock %}
	</div>
	<nav class="navbar-expand-sm fixed-bottom navbar-light bg-light">
	    <ul class="nav nav-tabs nav-fill nav-justified">
	        <li class="nav-item">
	        	<a href="/" class="nav-link">Current</a> 
	        </li>
	        <li class="nav-item">
	        	<a href="/hourly" class="nav-link">24-Hour</a>
	        </li>
	        <li class="nav-item">
	        	<a href="/weekly" class="nav-link">7-Day</a>
	        </li>
	    </ul>
    	<p class="text-center mt-2">
			Copyright and last updated: {% block nav %}{% endblock %}
		</p>
 	</nav>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
	// Measurement units toggler using checkbox
  	$(function() {
	    $('#toggle').bootstrapToggle({
	      on: 'Imperial',
	      off: 'Metric'
	    });
  })
  	// Change active state of bottom nav-tab links
	const currentLocation = location.href;
	const menuItem = document.querySelectorAll('a');
	const menuLength = menuItem.length
	for (let i = 0; i<menuLength;i++){
		if(menuItem[i].href === currentLocation){
			menuItem[i].className = "active"
		}
	}
	// TODO: Autocomplete location input (user input retained for current, 24-hour & 7-day display) validated w/ 1st char of comma sepearated string & https://getbootstrap.com/docs/5.0/forms/validation/
	var availableTags = [
      "Singapore, Singapore", "Osaka, Japan", "Seoul, South Korea"
    ];

	$("#Location").autocomplete({
    source: function(req, responseFn) {
        var re = $.ui.autocomplete.escapeRegex(req.term);
        var matcher = new RegExp( "^" + re, "i" );
        var a = $.grep( availableTags, function(item,index){
            return matcher.test(item);
        });
        responseFn( a );
    }
});
</script>
</html>