<html>
<head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
	<title>{% block title %}{% endblock %}</title>
	<style>
		.nav-tabs > li > a:hover{
    	background-color:#FCC;
		}

		.active{
			background-color: rgb(119, 118, 117);
		}
	</style>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #8fcbf7;">
  		<a class="navbar-app-name mr-sm-4" style="text-decoration: none;" href="#home">
  			<img src="https://qqpublic.qpic.cn/qq_public/0/0-2155386201-BBDD52D08D09041EBF6A75DA04B6021C/0?fmt=jpg" width="50" height="50" class="d-inline-block" alt="">
  			Weatherbooth
  		</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		    <div class="collapse navbar-collapse" id="navbarText">
		      <form class="form-inline" action="location">
		    	  <button class="btn btn-warning mt-3">Location</button>
		      </form>
		  	  <!--
		      <ul class="navbar-nav mr-auto">
		        <li class="nav-item active">
		          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
		        </li>
		        <li class="nav-item">
		          <a class="nav-link" href="#">About</a>
		        </li>
		      </ul>
			  -->
		      <form class="form-inline mx-auto" action="search">
			      <input class="form-control mt-3 mr-sm-2" name="search" type="search" placeholder="Search" aria-label="Search">
			      <button class="btn btn-outline-success mt-3" type="submit">Search</button>
  			  </form>
  			  <input type="checkbox" data-toggle="toggle" data-on="Imperial" data-off="Metric" data-onstyle="warning" data-offstyle="success">
		    </div>
	</nav>
	<div class="container-fluid">
		{% block content %}
		{% endblock %}
	</div>
	<nav class="navbar-expand-sm fixed-bottom navbar-light bg-light">
	    <ul class="nav nav-tabs nav-fill nav-justified"> <!-- Can use nav-tabs instead of nav-pills for tab borders, hover colour change w/o external CSS-->
	        <li class="nav-item active">
	        	<a href="/" class="nav-link" action="/">Current</a> <!-- TODO: JS to change active state (to colour blue) of tags a class for hourly & weekly weather 
	        	redirected url(maybe no need redirect in the future, at flask backend?)
	        	TODO: External CSS, whether nav-pills or nav-tabs, for distinctive hover colour change & thicker dark colour borders for nav links-->
	        </li>
	        <li class="nav-item">
	        	<a href="/hourly" class="nav-link" action="hourly">Hourly</a>
	        </li>
	        <li class="nav-item">
	        	<a href="/weekly" class="nav-link" action="weekly">Weekly</a>
	        </li>
	    </ul>
    	<p class="text-center mt-2">Copyright and last updated:</p>
 	</nav>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<script>
  $(function() {
    $('#toggle').bootstrapToggle({
      on: 'Imperial',
      off: 'Metric'
    });
  })
</script>
<script>
	$(document).ready(function () {
        $('ul.nav > li').click(function (e) {
            e.preventDefault();
            $('ul.nav> li').removeClass('active');
            $(this).addClass('active');                
        });            
    });
</script>
</html>