{% extends "base.html" %}
{% block title %}Enter Location{% endblock %}

{% block content %}
<form action="#" method="post">
	<div class="form-row d-flex justify-content-center">
	  <div class="col-md-2 mb-3">
		 <label for="validationServer01">Enter Location</label>
	  <input type="text" name="name" class="form-control" placeholder="Location" aria-label="Location" aria-describedby="inputGroup-sizing-sm" required>
	  <!--<div class="invalid-feedback">
        Please provide a valid location.
      </div>-->
	  </div>
	</div>
	<div class="text-center">
	<button class="btn btn-primary" type="submit"/> Submit </button>
	</div>
</form>
{% endblock %}