{% extends "base.html" %}
{% block title %} Weatherbooth - Hourly Weather {% endblock %}
{% block content %}
<div class="container mt-3 border">
  <div class= "row">
    <div class = "col">
      <p style = "margin:0;">24-Hour Forecast</p><p id = "attribute">Temperature</p>
    </div>
    <div class = "col-expand-sm d-flex justify-content-end">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#temp"><button type="button" class="btn btn-outline-dark btn-sm" onclick="document.getElementById('attribute').innerHTML = 'Temperature'"><i class="fas fa-temperature-low"></i></button></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#prec"><button type="button" class="btn btn-outline-dark btn-sm" onclick="document.getElementById('attribute').innerHTML = 'Precipitation'"><i class="fas fa-cloud-rain"></i></button></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#humd"><button type="button" class="btn btn-outline-dark btn-sm" onclick="document.getElementById('attribute').innerHTML = 'Humidity'"><i class="fab fa-safari"></i></button></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#press"><button type="button" class="btn btn-outline-dark btn-sm" onclick="document.getElementById('attribute').innerHTML = 'Air Pressure'"><i class="fas fa-long-arrow-alt-down"></i></button></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#wind"><button type="button" class="btn btn-outline-dark btn-sm" onclick="document.getElementById('attribute').innerHTML = 'Wind Speed'"><i class="fas fa-wind"></i></button></button></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#cloud"><button type="button" class="btn btn-outline-dark btn-sm" onclick="document.getElementById('attribute').innerHTML = 'Cloud'"><i class="fas fa-cloud"></i></button></button></a>
      </li>
    </ul>
    </div>
  </div>
  <div class="tab-content charts">
    <div class="tab-pane container active" id="temp">
      <canvas class="sm" id="tempChart"></canvas>
    </div>
    <div class="tab-pane container fade" id="prec">
      <canvas id="peChart"></canvas>
    </div>
    <div class="tab-pane container fade" id="humd">
      <canvas class="sm" id="humChart"></canvas>
    </div>
    <div class="tab-pane container fade" id="press">
      <canvas class="sm" id="aChart"></canvas>
    </div>
    <div class="tab-pane container fade" id="wind">
      <canvas class="sm" id="wChart"></canvas>
    </div>
    <div class="tab-pane container fade" id="cloud">
      <canvas class="sm" id="cChart"></canvas>
    </div>
  </div>
</div>
{% endblock %}