{% extends "base.html" %}
{% block title %}Weatherbooth - Home{% endblock %}
{% block content %}
<body>
<!-- current hour portion-->
<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-current" role="tabpanel" aria-labelledby="pills-current-tab">
    <div class = "container mt-3">
      <div class="row">
        <div class="col-sm" style="background-color:rgb(214, 214, 209); height: 750px;">
          <ul class="list-group">
            <li class="list-group-item" style = "margin-top: 20px; height:50px;">Warning and Advisories</li>
            <li class="list-group-item" style = "margin-top: 20px; height:180px;">Information</li>
            <li class="list-group-item" style = "margin-top: 20px; height:180px;">Information</li>
          </ul>
        </div>
        <div class="col-sm" style="background-color:rgb(194, 194, 189); height: 750px; background-image: url({{url_for('static', filename=info.img)}});">
          <ul class="list-group">
            <li class="list-group-item border-0" style = "margin-top: 350px; height:50px; background-color: transparent;">
              <div class = "row">
                <div class= "col-3 display-6" id = 'console-event' style = "height:48px; width:50px;">{{info.tm}}</div>
                <div class= "col-3 no-gutters display-6" style = "height:48px; width:50px;">~</div>
                <div class= "col-3 no-gutters display-6" id = 'console-event' style = "height:48px; width:50px;">{{info.temp}}</div>
                <div class= "col no-gutters display-6" id = 'icon'></div>
              </div>
            </li>
            <li class="list-group-item border-0" style = "margin-top: 20px; height:20px; background-color: transparent;">Condition: {{info.cond}}</li>
            <li class="list-group-item border-0" style = "margin-top: 20px; height:20px; background-color: transparent;">Date: {{info.date}}</li>
            <li class="list-group-item border-0" style = "margin-top: 20px; height:20px; background-color: transparent;">Time: {{info.time}}</li>
          </ul>
        </div>
        <div class="col-sm" style="background-color:rgb(201, 201, 195); height: 750px;">
          <div class="row" style = "margin-top:250px;">
            <div class = "col-sm-4 offset-1 mb-5" style = "height: 30px;">Humidity: {{info.hm}}~{{info.humd}}%</div>
            <div class = "col-sm-4 offset-1 mb-5" style = "height: 30px">Precipitation: {{info.rain}}mm</div>
          </div>
          <div class="row">
            <div class = "col-sm-4 offset-1 mb-5" style = "height: 30px">Air pressure: {{info.pm}}~{{info.p}}hPa</div>
            <div class = "col-sm-4 offset-1 mb-5" style = "height: 30px">Wind-speed: {{info.wsm}}~{{info.ws}}m/s</div>
          </div> 
          <div class="row">
            <div class = "col-sm-4 offset-1 mb-5" style = "height: 30px">Ultraviolet Index: {{info.uvi}}</div>
            <div class = "col-sm-4 offset-1" style = "height: 30px">Cloudiness: {{info.cm}}~{{info.cloud}}%</div>
          </div>  
        </div>
      </div>
    </div>
  </div>
  <!-- 24hour portion-->
  <div class="tab-pane fade" id="pills-24hour" role="tabpanel" aria-labelledby="pills-24hour-tab">
    <div class="container mt-3 border">
      <div class= "row">
        <div class = "col">
          <p style = "margin:0;">24-Hour Forecast</p><p id = "attribute">Temperature</p>
        </div>
        <div class = "col-expand-sm d-flex justify-content-end">
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#temp"><button type="button" class="btn btn-outline-dark btn-sm" onclick="document.getElementById('attribute').innerHTML = 'Temperature'"><i class="fas fa-temperature-low"></i></button></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#prec"><button type="button" class="btn btn-outline-dark btn-sm" onclick="document.getElementById('attribute').innerHTML = 'Precipitation'"><i class="fas fa-cloud-rain"></i></button></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#humd"><button type="button" class="btn btn-outline-dark btn-sm" onclick="document.getElementById('attribute').innerHTML = 'Humidity'"><i class="fab fa-safari"></i></button></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#press"><button type="button" class="btn btn-outline-dark btn-sm" onclick="document.getElementById('attribute').innerHTML = 'Air Pressure'"><i class="fas fa-long-arrow-alt-down"></i></button></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#wind"><button type="button" class="btn btn-outline-dark btn-sm" onclick="document.getElementById('attribute').innerHTML = 'Wind Speed'"><i class="fas fa-wind"></i></button></button></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#cloud"><button type="button" class="btn btn-outline-dark btn-sm" onclick="document.getElementById('attribute').innerHTML = 'Cloud'"><i class="fas fa-cloud"></i></button></button></a>
          </li>
        </ul>
        </div>
      </div>
      <div class="tab-content charts">
        <div class="tab-pane container active" id="temp">
          <canvas id="tempChart"></canvas>
        </div>
        <div class="tab-pane container fade" id="prec">
          <canvas id="peChart"></canvas>
        </div>
        <div class="tab-pane container fade" id="humd">
          <canvas id="humChart"></canvas>
        </div>
        <div class="tab-pane container fade" id="press">
          <canvas id="aChart"></canvas>
        </div>
        <div class="tab-pane container fade" id="wind">
          <canvas id="wChart"></canvas>
        </div>
        <div class="tab-pane container fade" id="cloud">
          <canvas id="cChart"></canvas>
        </div>
      </div>
    </div>
  </div>
  <!-- 7 day portion-->
  <div class="tab-pane fade" id="pills-7day" role="tabpanel" aria-labelledby="pills-7day-tab">
    3
  </div> 
  </div>

{% endblock %}