{% extends "base.html" %}
{% block title %}Weatherbooth - Home{% endblock %}
{% block content %}
<body>
<!-- current hour portion-->
<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-current" role="tabpanel" aria-labelledby="pills-current-tab">
    <div class = "container mt-3">
      <div class="row">
        <div class="col-sm warning" style="background-color:rgb(214, 214, 209); height: 750px;">
          <ul class="list-group">
            <li class="list-group-item" style = "margin-top: 20px; height:50px;">Warning and Advisories</li>
            <li class="list-group-item mt-3" id = 'uv'></li>
            <li class="list-group-item mt-3" id = 'wbgt'></li>
            <li class="list-group-item mt-3" id = 'mozzy'></li>
            <li class="list-group-item mt-3" id = 'rain'></li>
          </ul>
        </div>
        <div class="col-sm" style="background-color:rgb(194, 194, 189); height: 750px; background-image: url({{url_for('static', filename=current.img)}});">
          <ul class="list-group">
            <li class="list-group-item border-0" style = "margin-top: 350px; height:50px; background-color: transparent;">
              <div class = "row">
                <div class= "col-3 no-gutters display-6" id = 'console-event' style = "height:48px; width:50px;">{{current.temp}}</div>
                <div class= "col no-gutters display-6" id = 'icon'></div>
              </div>
            </li>
            <li class="list-group-item border-0" style = "margin-top: 20px; height:20px; background-color: transparent;">Condition: {{current.cond}}</li>
            <li class="list-group-item border-0" style = "margin-top: 20px; height:20px; background-color: transparent;">Date: {{current.date}}</li>
            <li class="list-group-item border-0" style = "margin-top: 20px; height:20px; background-color: transparent;">Time: {{current.time}}</li>
          </ul>
        </div>
        <div class="col-sm" style="background-color:rgb(201, 201, 195); height: 750px;">
          <div class="row"  style = "margin-top:250px;">
            <div class = "col-sm-4 offset-1 mb-5" style = "height: 30px;">Temperature:&nbsp;
              <div style="display: flex;">
                <div id = 'console-event'>{{current.tm}}</div>
                <div>~</div>
                <div id = 'console-event'>{{current.temp}}</div>
                <div id = 'icon'></div>
              </div>
            </div>
            <div class = "col-sm-4 offset-1 mb-5" style = "height: 30px">Ultraviolet Index: {{current.uvi}}</div>
          </div>  
          <div class="row">
            <div class = "col-sm-4 offset-1 mb-5" style = "height: 30px;">Humidity: {{current.hm}}~{{current.humd}}%</div>
            <div class = "col-sm-4 offset-1 mb-5" style = "height: 30px">Precipitation: 0~{{current.rain}}mm</div>
          </div>
          <div class="row">
            <div class = "col-sm-4 offset-1 mb-5" style = "height: 30px">Air pressure: {{current.pm}}~{{current.p}}hPa</div>
            <div class = "col-sm-4 offset-1 mb-5" style = "height: 30px">Wind-speed: {{current.wsm}}~{{current.ws}}m/s</div>
          </div> 
          <div class="row">
            
            <div class = "col-sm-4 offset-1 mb-5" style = "height: 30px">Cloudiness: {{current.cm}}~{{current.cloud}}%</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 24hour portion-->
  <div class="tab-pane fade" id="pills-24hour" role="tabpanel" aria-labelledby="pills-24hour-tab">
    <div class="container mt-3 border">
      <div class= "row">
        <div class = "col">
          <p style = "margin:0;">24-Hour Forecast</p><p id = "attribute">Temperature</p>
        </div>
        <div class = "col-expand-sm d-flex justify-content-end">
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#temp" onclick="document.getElementById('attribute').innerHTML = 'Temperature'"><button type="button" class="btn btn-outline-dark btn-sm"><i class="fas fa-temperature-low"></i></button></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#prec" onclick="document.getElementById('attribute').innerHTML = 'Precipitation'"><button type="button" class="btn btn-outline-dark btn-sm"><i class="fas fa-cloud-rain"></i></button></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#humd" onclick="document.getElementById('attribute').innerHTML = 'Humidity'"><button type="button" class="btn btn-outline-dark btn-sm"><i class="fab fa-safari"></i></button></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#press" onclick="document.getElementById('attribute').innerHTML = 'Air Pressure'"><button type="button" class="btn btn-outline-dark btn-sm"><i class="fas fa-long-arrow-alt-down"></i></button></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#wind" onclick="document.getElementById('attribute').innerHTML = 'Wind Speed'"><button type="button" class="btn btn-outline-dark btn-sm"><i class="fas fa-wind"></i></button></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#cloud" onclick="document.getElementById('attribute').innerHTML = 'Cloud'"><button type="button" class="btn btn-outline-dark btn-sm"><i class="fas fa-cloud"></i></button></a>
          </li>
        </ul>
        </div>
      </div>
      <div class="tab-content charts">
        <div class="tab-pane container active" id="temp">
          <canvas id="tempChart" data-endpoint='{{CHART_ENDPOINT}}'></canvas>
        </div>
        <div class="tab-pane container fade" id="prec">
          <canvas id="peChart" data-endpoint='{{CHART_ENDPOINT}}'></canvas>
        </div>
        <div class="tab-pane container fade" id="humd">
          <canvas id="humChart" data-endpoint='{{CHART_ENDPOINT}}'></canvas>
        </div>
        <div class="tab-pane container fade" id="press">
          <canvas id="aChart" data-endpoint='{{CHART_ENDPOINT}}'></canvas>
        </div>
        <div class="tab-pane container fade" id="wind">
          <canvas id="wChart" data-endpoint='{{CHART_ENDPOINT}}'></canvas>
        </div>
        <div class="tab-pane container fade" id="cloud">
          <canvas id="cChart" data-endpoint='{{CHART_ENDPOINT}}'></canvas>
        </div>
      </div>
    </div>
  </div>
  <!-- 7 day portion-->
  <div class="tab-pane fade" id="pills-7day" role="tabpanel" aria-labelledby="pills-7day-tab">
    <div class="container mt-3">
      <div class="table-responsive">
      <table class="table">
        <tbody>
          <!--1-->
          <tr class="accordion-toggle collapsed" id="accordion1" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">
            <td class="expand-button"></td>
            <td>{{res.date[0]}}</td>
            <td>{{res.day[0]}}</td>
            <td>{{res.cond[0]}}</td>
            <td><img src="http://openweathermap.org/img/wn/{{res.icon[0]}}@2x.png"></td>
            <td id = 'console-event'>{{res.tempMin[0]}}</td>
            <td class = "padding-1" id = 'console-event'>{{res.tempMax[0]}}</td>
            <td class = "padding-1" id = "icon"></td>
          </tr>
          <tr class="hide-table-padding">
            <td></td>
            <td colspan="5">
            <div id="collapseOne" class="collapse in p-3">
              <div class="row">
                <div class = "col-sm">
                  <div class = "row">
                    <div class = "col">Min Wind speed:</div>
                    <div class = "col">{{res.avgWSMin[0]}}m/s</div>
                  </div>
                  <div class = "row">
                    <div class = "col">Min Pressure:</div>
                    <div class = "col">{{res.airPreMin[0]}}hPa</div>
                  </div>
                  <div class = "row">
                    <div class = "col">Min Precipitation Vol.:</div>
                    <div class = "col">{{res.prcpVolMin[0]}}mm</div>
                  </div>
                </div>
                <div class = "col-sm">
                  <div class = "row">
                    <div class = "col">Max Wind speed:</div>
                    <div class = "col">{{res.avgWSMax[0]}}m/s</div>
                  </div>
                  <div class = "row">
                    <div class = "col">Max Pressure:</div>
                    <div class = "col">{{res.airPreMax[0]}}hPa</div>
                  </div>
                  <div class = "row">
                    <div class = "col">Max Precipitation Vol.:</div>
                    <div class = "col">{{res.prcpVolMax[0]}}mm</div>
                  </div>
                </div>
                <div class = "col-sm">
                  <div class = "row">
                    <div class = "col">Min Humidity:</div>
                    <div class = "col">{{res.humdMin[0]}}%</div>
                  </div>
                  <div class = "row">
                    <div class = "col">Min Cloudiness:</div>
                    <div class = "col">{{res.cloudMin[0]}}%</div>
                  </div>
                </div>
                <div class = "col">
                  <div class = "row">
                    <div class = "col">Max Humidity:</div>
                    <div class = "col">{{res.humdMax[0]}}%</div>
                  </div>
                  <div class = "row">
                    <div class = "col">Max Cloudiness:</div>
                    <div class = "col">{{res.cloudMax[0]}}%</div>
                  </div>
                </div>
              </div>            
            </div>
            </td>
          </tr>
          <tr class="accordion-toggle collapsed" id="accordion2" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
            <td class="expand-button"></td>
            <td>{{res.date[1]}}</td>
            <td>{{res.day[1]}}</td>
            <td>{{res.cond[1]}}</td>
            <td><img src="http://openweathermap.org/img/wn/{{res.icon[1]}}@2x.png"></td>
            <td id = 'console-event'>{{res.tempMin[1]}}</td>
            <td class = "padding-1" id = 'console-event'>{{res.tempMax[1]}}</td>
            <td class = "padding-1" id = "icon"></td>
          </tr>
          <tr class="hide-table-padding">
            <td></td>
            <td colspan="5">
            <div id="collapseTwo" class="collapse in p-3">
              <div class="row">
                <div class = "col-sm">
                  <div class = "row">
                    <div class = "col">Min Wind speed:</div>
                    <div class = "col">{{res.avgWSMin[1]}}m/s</div>
                  </div>
                  <div class = "row">
                    <div class = "col">Min Pressure:</div>
                    <div class = "col">{{res.airPreMin[1]}}hPa</div>
                  </div>
                  <div class = "row">
                    <div class = "col">Min Precipitation Vol.:</div>
                    <div class = "col">{{res.prcpVolMin[1]}}mm</div>
                  </div>
                </div>
                <div class = "col-sm">
                  <div class = "row">
                    <div class = "col">Max Wind speed:</div>
                    <div class = "col">{{res.avgWSMax[1]}}m/s</div>
                  </div>
                  <div class = "row">
                    <div class = "col">Max Pressure:</div>
                    <div class = "col">{{res.airPreMax[1]}}hPa</div>
                  </div>
                  <div class = "row">
                    <div class = "col">Max Precipitation Vol.:</div>
                    <div class = "col">{{res.prcpVolMax[1]}}mm</div>
                  </div>
                </div>
                <div class = "col-sm">
                  <div class = "row">
                    <div class = "col">Min Humidity:</div>
                    <div class = "col">{{res.humdMin[1]}}%</div>
                  </div>
                  <div class = "row">
                    <div class = "col">Min Cloudiness:</div>
                    <div class = "col">{{res.cloudMin[1]}}%</div>
                  </div>
                </div>
                <div class = "col">
                  <div class = "row">
                    <div class = "col">Max Humidity:</div>
                    <div class = "col">{{res.humdMax[1]}}%</div>
                  </div>
                  <div class = "row">
                    <div class = "col">Max Cloudiness:</div>
                    <div class = "col">{{res.cloudMax[1]}}%</div>
                  </div>
                </div>
              </div>
            </div>
            </td>
          </tr>
          <tr class="accordion-toggle collapsed" id="accordion3" data-toggle="collapse" data-parent="#accordion3" href="#collapseThree">
            <td class="expand-button"></td>
            <td>{{res.date[2]}}</td>
            <td>{{res.day[2]}}</td>
            <td>{{res.cond[2]}}</td>
            <td><img src="http://openweathermap.org/img/wn/{{res.icon[2]}}@2x.png"></td>
            <td id = 'console-event'>{{res.tempMin[2]}}</td>
            <td class = "padding-1" id = 'console-event'>{{res.tempMax[2]}}</td>
            <td class = "padding-1" id = "icon"></td>
          </tr>
          <tr class="hide-table-padding">
            <td></td>
            <td colspan="5">
            <div id="collapseThree" class="collapse in p-3">
              <div class="row">
                <div class = "col-sm">
                  <div class = "row">
                    <div class = "col">Min Wind speed:</div>
                    <div class = "col">{{res.avgWSMin[2]}}m/s</div>
                  </div>
                  <div class = "row">
                    <div class = "col">Min Pressure:</div>
                    <div class = "col">{{res.airPreMin[2]}}hPa</div>
                  </div>
                  <div class = "row">
                    <div class = "col">Min Precipitation Vol.:</div>
                    <div class = "col">{{res.prcpVolMin[2]}}mm</div>
                  </div>
                </div>
                <div class = "col-sm">
                  <div class = "row">
                    <div class = "col">Max Wind speed:</div>
                    <div class = "col">{{res.avgWSMax[2]}}m/s</div>
                  </div>
                  <div class = "row">
                    <div class = "col">Max Pressure:</div>
                    <div class = "col">{{res.airPreMax[2]}}hPa</div>
                  </div>
                  <div class = "row">
                    <div class = "col">Max Precipitation Vol.:</div>
                    <div class = "col">{{res.prcpVolMax[2]}}mm</div>
                  </div>
                </div>
                <div class = "col-sm">
                  <div class = "row">
                    <div class = "col">Min Humidity:</div>
                    <div class = "col">{{res.humdMin[2]}}%</div>
                  </div>
                  <div class = "row">
                    <div class = "col">Min Cloudiness:</div>
                    <div class = "col">{{res.cloudMin[2]}}%</div>
                  </div>
                </div>
                <div class = "col">
                  <div class = "row">
                    <div class = "col">Max Humidity:</div>
                    <div class = "col">{{res.humdMax[2]}}%</div>
                  </div>
                  <div class = "row">
                    <div class = "col">Max Cloudiness:</div>
                    <div class = "col">{{res.cloudMax[2]}}%</div>
                  </div>
                </div>
              </div>
            </div>
            </td>
          </tr>
          <tr class="accordion-toggle collapsed" id="accordion4" data-toggle="collapse" data-parent="#accordion4" href="#collapseFour">
            <td class="expand-button"></td>
            <td>{{res.date[3]}}</td>
            <td>{{res.day[3]}}</td>
            <td>{{res.cond[3]}}</td>
            <td><img src="http://openweathermap.org/img/wn/{{res.icon[3]}}@2x.png"></td>
            <td id = 'console-event'>{{res.tempMin[3]}}</td>
            <td class = "padding-1" id = 'console-event'>{{res.tempMax[3]}}</td>
            <td class = "padding-1" id = "icon"></td>
          </tr>
          <tr class="hide-table-padding">
            <td></td>
            <td colspan="6">
            <div id="collapseFour" class="collapse in p-3">
              <div class="row">
                <div class = "col-sm">
                  <div class = "row">
                    <div class = "col">Min Wind speed:</div>
                    <div class = "col">{{res.avgWSMin[3]}}m/s</div>
                  </div>
                  <div class = "row">
                    <div class = "col">Min Pressure:</div>
                    <div class = "col">{{res.airPreMin[3]}}hPa</div>
                  </div>
                  <div class = "row">
                    <div class = "col">Min Precipitation Vol.:</div>
                    <div class = "col">{{res.prcpVolMin[3]}}mm</div>
                  </div>
                </div>
                <div class = "col-sm">
                  <div class = "row">
                    <div class = "col">Max Wind speed:</div>
                    <div class = "col">{{res.avgWSMax[3]}}m/s</div>
                  </div>
                  <div class = "row">
                    <div class = "col">Max Pressure:</div>
                    <div class = "col">{{res.airPreMax[3]}}hPa</div>
                  </div>
                  <div class = "row">
                    <div class = "col">Max Precipitation Vol.:</div>
                    <div class = "col">{{res.prcpVolMax[3]}}mm</div>
                  </div>
                </div>
                <div class = "col-sm">
                  <div class = "row">
                    <div class = "col">Min Humidity:</div>
                    <div class = "col">{{res.humdMin[3]}}%</div>
                  </div>
                  <div class = "row">
                    <div class = "col">Min Cloudiness:</div>
                    <div class = "col">{{res.cloudMin[3]}}%</div>
                  </div>
                </div>
                <div class = "col">
                  <div class = "row">
                    <div class = "col">Max Humidity:</div>
                    <div class = "col">{{res.humdMax[3]}}%</div>
                  </div>
                  <div class = "row">
                    <div class = "col">Max Cloudiness:</div>
                    <div class = "col">{{res.cloudMax[3]}}%</div>
                  </div>
                </div>
              </div>
            </div>
            </td>
          </tr>
          <tr class="accordion-toggle collapsed" id="accordion5" data-toggle="collapse" data-parent="#accordion5" href="#collapseFive">
            <td class="expand-button"></td>
            <td>{{res.date[4]}}</td>
            <td>{{res.day[4]}}</td>
            <td>{{res.cond[4]}}</td>
            <td><img src="http://openweathermap.org/img/wn/{{res.icon[4]}}@2x.png"></td>
            <td id = 'console-event'>{{res.tempMin[4]}}</td>
            <td class = "padding-1" id = 'console-event'>{{res.tempMax[4]}}</td>
            <td class = "padding-1" id = "icon"></td>
          </tr>
          <tr class="hide-table-padding">
            <td></td>
            <td colspan="7">
            <div id="collapseFive" class="collapse in p-3">
              <div class="row">
                <div class = "col-sm">
                  <div class = "row">
                    <div class = "col">Min Wind speed:</div>
                    <div class = "col">{{res.avgWSMin[4]}}m/s</div>
                  </div>
                  <div class = "row">
                    <div class = "col">Min Pressure:</div>
                    <div class = "col">{{res.airPreMin[4]}}hPa</div>
                  </div>
                  <div class = "row">
                    <div class = "col">Min Precipitation Vol.:</div>
                    <div class = "col">{{res.prcpVolMin[4]}}mm</div>
                  </div>
                </div>
                <div class = "col-sm">
                  <div class = "row">
                    <div class = "col">Max Wind speed:</div>
                    <div class = "col">{{res.avgWSMax[4]}}m/s</div>
                  </div>
                  <div class = "row">
                    <div class = "col">Max Pressure:</div>
                    <div class = "col">{{res.airPreMax[4]}}hPa</div>
                  </div>
                  <div class = "row">
                    <div class = "col">Max Precipitation Vol.:</div>
                    <div class = "col">{{res.prcpVolMax[4]}}mm</div>
                  </div>
                </div>
                <div class = "col-sm">
                  <div class = "row">
                    <div class = "col">Min Humidity:</div>
                    <div class = "col">{{res.humdMin[4]}}%</div>
                  </div>
                  <div class = "row">
                    <div class = "col">Min Cloudiness:</div>
                    <div class = "col">{{res.cloudMin[4]}}%</div>
                  </div>
                </div>
                <div class = "col">
                  <div class = "row">
                    <div class = "col">Max Humidity:</div>
                    <div class = "col">{{res.humdMax[4]}}%</div>
                  </div>
                  <div class = "row">
                    <div class = "col">Max Cloudiness:</div>
                    <div class = "col">{{res.cloudMax[4]}}%</div>
                  </div>
                </div>
              </div>
            </div>
            </td>
          </tr>
          <tr class="accordion-toggle collapsed" id="accordion6" data-toggle="collapse" data-parent="#accordion6" href="#collapseSix">
            <td class="expand-button"></td>
            <td>{{res.date[5]}}</td>
            <td>{{res.day[5]}}</td>
            <td>{{res.cond[5]}}</td>
            <td><img src="http://openweathermap.org/img/wn/{{res.icon[5]}}@2x.png"></td>
            <td id = 'console-event'>{{res.tempMin[5]}}</td>
            <td class = "padding-1" id = 'console-event'>{{res.tempMax[5]}}</td>
            <td class = "padding-1" id = "icon"></td>
          </tr>
          <tr class="hide-table-padding">
            <td></td>
            <td colspan="8">
            <div id="collapseSix" class="collapse in p-3">
              <div class="row">
                <div class = "col-sm">
                  <div class = "row">
                    <div class = "col">Min Wind speed:</div>
                    <div class = "col">{{res.avgWSMin[5]}}m/s</div>
                  </div>
                  <div class = "row">
                    <div class = "col">Min Pressure:</div>
                    <div class = "col">{{res.airPreMin[5]}}hPa</div>
                  </div>
                  <div class = "row">
                    <div class = "col">Min Precipitation Vol.:</div>
                    <div class = "col">{{res.prcpVolMin[5]}}mm</div>
                  </div>
                </div>
                <div class = "col-sm">
                  <div class = "row">
                    <div class = "col">Max Wind speed:</div>
                    <div class = "col">{{res.avgWSMax[5]}}m/s</div>
                  </div>
                  <div class = "row">
                    <div class = "col">Max Pressure:</div>
                    <div class = "col">{{res.airPreMax[5]}}hPa</div>
                  </div>
                  <div class = "row">
                    <div class = "col">Max Precipitation Vol.:</div>
                    <div class = "col">{{res.prcpVolMax[5]}}mm</div>
                  </div>
                </div>
                <div class = "col-sm">
                  <div class = "row">
                    <div class = "col">Min Humidity:</div>
                    <div class = "col">{{res.humdMin[5]}}%</div>
                  </div>
                  <div class = "row">
                    <div class = "col">Min Cloudiness:</div>
                    <div class = "col">{{res.cloudMin[5]}}%</div>
                  </div>
                </div>
                <div class = "col">
                  <div class = "row">
                    <div class = "col">Max Humidity:</div>
                    <div class = "col">{{res.humdMax[5]}}%</div>
                  </div>
                  <div class = "row">
                    <div class = "col">Max Cloudiness:</div>
                    <div class = "col">{{res.cloudMax[5]}}%</div>
                  </div>
                </div>
              </div>
            </div>
            </td>
          </tr>
          <tr class="accordion-toggle collapsed" id="accordion7" data-toggle="collapse" data-parent="#accordion7" href="#collapseSeven">
            <td class="expand-button"></td>
            <td>{{res.date[6]}}</td>
            <td>{{res.day[6]}}</td>
            <td>{{res.cond[6]}}</td>
            <td><img src="http://openweathermap.org/img/wn/{{res.icon[6]}}@2x.png"></td>
            <td id = 'console-event'>{{res.tempMin[6]}}</td>
            <td class = "padding-1" id = 'console-event'>{{res.tempMax[6]}}</td>
            <td class = "padding-1" id = "icon"></td>
          </tr>
          <tr class="hide-table-padding">
            <td></td>
            <td colspan="9">
            <div id="collapseSeven" class="collapse in p-3">
              <div class="row">
                <div class = "col-sm">
                  <div class = "row">
                    <div class = "col">Min Wind speed:</div>
                    <div class = "col">{{res.avgWSMin[6]}}m/s</div>
                  </div>
                  <div class = "row">
                    <div class = "col">Min Pressure:</div>
                    <div class = "col">{{res.airPreMin[6]}}hPa</div>
                  </div>
                  <div class = "row">
                    <div class = "col">Min Precipitation Vol.:</div>
                    <div class = "col">{{res.prcpVolMin[6]}}mm</div>
                  </div>
                </div>
                <div class = "col-sm">
                  <div class = "row">
                    <div class = "col">Max Wind speed:</div>
                    <div class = "col">{{res.avgWSMax[6]}}m/s</div>
                  </div>
                  <div class = "row">
                    <div class = "col">Max Pressure:</div>
                    <div class = "col">{{res.airPreMax[6]}}hPa</div>
                  </div>
                  <div class = "row">
                    <div class = "col">Max Precipitation Vol.:</div>
                    <div class = "col">{{res.prcpVolMax[6]}}mm</div>
                  </div>
                </div>
                <div class = "col-sm">
                  <div class = "row">
                    <div class = "col">Min Humidity:</div>
                    <div class = "col">{{res.humdMin[6]}}%</div>
                  </div>
                  <div class = "row">
                    <div class = "col">Min Cloudiness:</div>
                    <div class = "col">{{res.cloudMin[6]}}%</div>
                  </div>
                </div>
                <div class = "col">
                  <div class = "row">
                    <div class = "col">Max Humidity:</div>
                    <div class = "col">{{res.humdMax[6]}}%</div>
                  </div>
                  <div class = "row">
                    <div class = "col">Max Cloudiness:</div>
                    <div class = "col">{{res.cloudMax[6]}}%</div>
                  </div>
                </div>
              </div>
            </div>
            </td>
          </tr>
          
        </tbody>
      </table>
      </div>
    </div>
  </div>
  </div> 
  </div>

{% endblock %}