.charts {
    width:1100px !important;
    height:600px !important;
}

.nav-link {
    padding: 0.8rem;
    border: 0;
}

.nav-tabs .nav-link.active {
    background-color: darkgrey;
}

.card:hover {
    background-color: #efefef;
}

.card-header {
    padding:  0.35rem 1.25rem;
}

.card-body {
    text-align: left;
}